## R Notebook

This is my first notebook with an R kernel.  We'll see how it goes...

In [3]:
install.packages('gstat', repos="http://cran.us.r-project.org")

package 'gstat' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Julia\AppData\Local\Temp\Rtmp63EVz4\downloaded_packages

In [5]:
library(gstat)
library(ggplot2)

In [10]:
B = matrix(c(2, 4, 3, 1, 5, 7), nrow=3, ncol=2)

In [12]:
as.data.frame(B, row.names = c('Bob', 'Sue', 'Bubba'))

      V1 V2
Bob    2  1
Sue    4  5
Bubba  3  7